<html lang="ja">
    <head>
      <meta charset="UTF-8">
      <title>Table Create Sample</title>
      <link rel="stylesheet" href="style.css">
    </head>

    <form action="/test" method="post">
        <button type="submit" name="username" value="Ranpo">出席</button>
        <!--
        <label for="test">Ranpo</label>
        <input type="submit" name="username" value="Ranpo" onclick="setAction()"/>-->
    </form>
    <form action="/test" method="post">
        <button type="submit" name="username" value="Jerk">出席</button>
    </form>
    
</body>
</html>
